@import 'var.scss';

.btn-original{
    @include btn-original()
}

.btn-square{
    @include btn-square()
}

.link-story{
    @include link()
}

.title{
    @include title()
}

.title-area{
    @include title-mgin()
}

header{
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        h1{
            a{
                height: 30px;
                display: flex;
                img{}
            }
        }
        ul{
            display: flex;
            li{
                padding: 10px 8px;
            }
        }
    }
}

.intro-wrap{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    .intro-cont{
        position: relative;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    h2{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: end;
        font-size: 24px;
        span{
            // opacity: 0;
        }
    }
}

.i-am-wrap{
        text-align: center;
        line-height: $lh;
    h2{
        margin-top: 57px;
    }
    .i-am-photo-cont{
        width: 200px;
        margin: 24px auto;
        background: $main-color;
        img{
            
        }
    }
    .i-am-text-1{
        margin-bottom: 15px;
        h3{
            line-height: 1.5;
            font-weight: 400;
        }
    }
    .i-am-text-2{
        a{
            @include link()
        }
    }
}

.interactive-section{
    margin-top: 68px;
    h2{
    }
}

.interactive-wrap{
    ul{
        display: grid;
        gap: 25px;
        padding: 25px 0;
        background-color: $main-color;
        border-radius: 36px;
        li{
            position: relative;
            width: 90%;
            height: 200px;
            margin: 0 auto;
            background: #fff;
            border-radius: 23px;
            overflow: hidden;
            &:hover &.interactive-text-cont{
                top: 0;
                border-radius: 23px;
                background: #fff;
            }
            :last-of-type{
                margin: 0 auto;
            }
            .interactive-img-cont{
                height: 150px;
                border-radius: 23px;
                overflow: hidden;
                img{}
            }
            .interactive-text-cont{
                position: absolute;
                top: 153px;
                left: 0;
                width: 100%;
                height: 100%;
                transition: top 0.25s ease;
                p{
                    padding: 15px 0;
                }
            }
            p{
                text-align: center;
            }
            .interactive-hover-cont{
                visibility: hidden;
                opacity: 0;
                .interactive-hover-area{
                    padding: 20px;
                }
                p{
                    text-align: start;
                    padding: 2px 20px;
                    :first-of-type{
                        margin-top: 20px;
                    }
                }
            }
            .btn-wrap{
                margin: 12px 0;
            }
        }
    }
}

.interactive-wrap ul li:hover .interactive-text-cont{
    top: 0;
    border-radius: 23px;
    background: #fff;
}

.interactive-wrap ul li:hover .interactive-hover-cont{
    visibility: visible;
    opacity: 1;
}

.inovative-section{
    margin-top: 29px;
}

.inovative-wrap{
    >ul{
        display: grid;
        gap: 25px;
        >li{
            position: relative;
            height: 250px;
            background: $main-color;
            border-radius: 23px;
            .inovative-img-cont{
                height: 100%;
                border-radius: 23px;
                overflow: hidden;
                img{}
            }
            p{
                text-align: center;
            }
            .inovative-hover-cont{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(36, 23, 88, 0.62);
                border-radius: 23px;
                transition: 0.36s ease;
                color: #fff;
                .interactive-hover-area{
                    padding: 20px;
                    .inovative-link-area{
                        margin-bottom: 10px;
                    }
                }
                h4{
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                p{
                    text-align: start;
                    padding: 2px 0;
                    :first-of-type{
                        margin-top: 20px;
                    }
                    a{
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
            .btn-wrap{
                display: flex;
                justify-content: space-around;
                margin: 25px 0 0;
                padding: 0;
            }
        }
    }
}

.inovative-wrap ul li:hover .inovative-hover-cont{
    visibility: visible;
    opacity: 1;
}

.infinite-section{
    margin-top: 30px;
    .swiper{
        z-index: 0;
        .swiper-wrapper{
            .swiper-slide{
                a{
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    .infinite-img-cont{
                        height: 150px;
                        background: $main-color;
                        img{}
                    }
                    .infinite-text{
                        margin: 10px 0;
                        max-height: 30px;
                        text-wrap: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .swiper-btn-wrap{
            display: flex;
            margin-top: 8px;
        }
        .infinite-swiper-button-next, .infinite-swiper-button-prev{
            position: relative;
            right: auto;
            left: auto;
            height: auto;
            margin-top: 0;
            color: #000;
        }
        .infinite-swiper-button-next::after, .infinite-swiper-button-prev::after{
            width: 20px;
            height: 20px;
            background-image: url(../img/swiper-polygon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            font-size: 0;
        }
        .infinite-swiper-button-next::after{
            transform: rotateY(180deg);
        }
    }
}

.imagine-section{
    margin-top: 30px;
}

.imagine-wrap{
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    .swiper-wrapper{
        flex-direction: row;
    }
    .swiper-slide{
        width: 100px;
        height: 100px;
        background: $main-color;
    }
    ul{
        flex-wrap: wrap;
        z-index: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        li{
            width: 100px;
            height: 100px !important;
            background: $main-color;
            margin: 0 0.8771929824561403%;
            z-index: 0;
            // height: calc((100% - 30px) / 2) !important;
            .imagine-img-wrap{
                width: 100%;
                height: 100%;
                margin-right: 10px;
                
            }
        }
    }
    .swiper-pagination-progressbar{
        top: inherit;
        bottom: 0;
    }
}

.contact-wrap{
    margin-top: 59px;
}

.we-animate-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    h3{
    }
    .we-animate-1{
        margin: 15px 0;
        display: flex;
        :first-child{
            // transform: rotate(-30.924deg);
        }
        :nth-child(2){
            // transform: rotate(12.565deg);
        }
        :nth-child(3){
            // transform: rotate(-14.849deg);
        }
        :last-child{
            // transform: rotate(23.129deg);
        }
    }
}

.we-text-cont{
    margin: 35px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .we-text-area{
        font-size: 24px;
    }
}

.email-wrap{
    text-align: center;
    .email-cont{
        margin-bottom: 68px;
        h3{
            font-weight: 400;
            margin-bottom: 11px;
        }
        p{
            font-weight: 600;
        }
    }
}

.thank-cont{
    position: relative;
    ::before{
        content: 'THANKYOU';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #D9D9D9;
        font-family: Noto Sans;
        font-size: 40px;
        font-weight: 700;
        z-index: -1;
    }
}

footer{
    padding: 60px 0 30px 0;
    text-align: center;
}