@import 'var.scss';

.btn-original{
    @include btn-original()
}

.btn-square{
    @include btn-square()
}

.link-story{
    @include link()
}

.title{
    @include title()
}

.title-area{
    @include title-mgin()
}

header{
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        h1{
            a{
                height: 30px;
                display: flex;
                img{}
            }
        }
        ul{
            display: flex;
            li{
                padding: 10px 8px;
            }
        }
    }
}

.intro-wrap{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-family: 'IBMPlexSansKR-Regular';
    .intro-cont{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    h2{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: end;
        font-size: 24px;
        span{
            // opacity: 0;
        }
    }
}

.i-am-wrap{
        text-align: center;
        line-height: $lh;
    h2{
        margin-top: 57px;
    }
    .i-am-photo-cont{
        width: 200px;
        margin: 24px auto;
        background: $main-color;
        img{
            
        }
    }
    .i-am-text-1{
        margin-bottom: 15px;
        h3{
            line-height: 1.5;
            font-weight: 400;
        }
    }
    .i-am-text-2{
        a{
            @include link()
        }
    }
}

.i-can-wrap{
        
    height: 100%;
    margin: 60px 0;
    padding: 30px 0 0;
    border-radius: $radious;
    background: $main-color;
    box-sizing: border-box;
    h2{
        font-size: $fsiz-nomal+4;
        margin-bottom: 30px;
        padding: 0 30px;
    }
}
.i-can-text-cont{
    margin-bottom: 0;
    ul{
        padding: 20px;
        background: #ffffff73;
        border-radius: $radious;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
    }
    h3{
        font-size: $fsiz-nomal - 2;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
    p{
        font-size: $main-font-sz;
        margin-bottom: 20px;
    }
}

.interactive-section{
    margin-top: 68px;
    h2{
    }
}

.interactive-wrap{
    ul{
        display: grid;
        gap: 25px;
        padding: 25px 0;
        background-color: $main-color;
        border-radius: 36px;
        li{
            position: relative;
            width: 90%;
            height: 200px;
            margin: 0 auto;
            background: #fff;
            border-radius: 23px;
            overflow: hidden;
            &:hover .interactive-text-cont{
                top: 0;
                border-radius: 23px;
                background: #fff;
            }
            &:hover .interactive-hover-cont{
                visibility: visible;
                opacity: 1;
            }
            &:first-of-type .interactive-img-cont img{
                object-fit: contain;
                transform: scale(0.4);
            }
            &:last-of-type{
                margin: 0 auto;
            }
            .interactive-img-cont{
                height: 100%;
                border-radius: 23px;
                overflow: hidden;
                img{
                    object-fit: cover;
                    object-position: top;
                }
            }
            .interactive-text-cont{
                position: absolute;
                top: 153px;
                left: 0;
                width: 100%;
                height: 100%;
                transition: top 0.25s ease;
                background: #ffffff8a;
                p{
                    padding: 15px 0;
                }
            }
            p{
                text-align: center;
            }
            .interactive-hover-cont{
                visibility: hidden;
                opacity: 0;
                .interactive-hover-area{
                    padding: 20px;
                }
                p{
                    text-align: start;
                    padding: 2px 20px;
                    :first-of-type{
                        margin-top: 20px;
                    }
                }
            }
            .btn-wrap{
                margin: 12px 0;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.inovative-section{
    margin-top: 29px;
}

.inovative-wrap{
    >ul{
        display: grid;
        gap: 36px;
        grid-template-rows: repeat(3,250px);
        >li{
            position: relative;
            background: $main-color;
            border-radius: 23px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            &:hover .inovative-hover-cont{
                visibility: visible;
                opacity: 1;
            }
            &:hover .inovative-img-cont{
                filter: blur(5px);
            }
            .inovative-img-cont{
                height: 100%;
                border-radius: 23px;
                overflow: hidden;
                img{
                    object-fit: cover;
                    object-position: top;
                }
            }
            p{
                text-align: center;
            }
            .inovative-hover-cont{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(36, 23, 88, 0.62);
                border-radius: 23px;
                transition: 0.36s ease;
                color: #fff;
                .interactive-hover-area{
                    padding: 20px;
                    .link-story::before{
                        background: #fff;
                    }
                    .inovative-link-area{
                        margin-bottom: 10px;
                    }
                }
                h4{
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                p{
                    text-align: start;
                    padding: 2px 0;
                    :first-of-type{
                        margin-top: 20px;
                    }
                    a{
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
            .btn-wrap{
                display: flex;
                justify-content: space-around;
                margin: 25px 0 0;
                padding: 0;
            }
        }
    }
}

.infinite-section{
    margin-top: 30px;
    .swiper{
        z-index: 0;
        .swiper-wrapper{
            .swiper-slide{
                a{
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    .infinite-img-cont{
                        height: 150px;
                        background: $main-color;
                        img{
                            object-fit: cover;
                        }
                    }
                    .infinite-text{
                        margin: 10px 0;
                        max-height: 30px;
                        text-wrap: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .swiper-btn-wrap{
            display: flex;
            margin-top: 8px;
        }
        .infinite-swiper-button-next, .infinite-swiper-button-prev{
            position: relative;
            right: auto;
            left: auto;
            height: auto;
            margin-top: 0;
            color: #000;
        }
        .infinite-swiper-button-next::after, .infinite-swiper-button-prev::after{
            width: 20px;
            height: 20px;
            background-image: url(../img/swiper-polygon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            font-size: 0;
        }
        .infinite-swiper-button-next::after{
            transform: rotateY(180deg);
        }
    }
}

.imagine-section{
    margin-top: 30px;
}

.imagine-wrap{
    margin-left: auto;
    margin-right: auto;
    .imagine-cont{
        flex-direction: row;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 10px;
        li{
            width: 100px;
            height: 100px;
            background: $main-color;
            margin: 0 0.8771929824561403%;
            z-index: 0;
            border-radius: 4px;
            overflow: hidden;
            border: 1px solid #D9D9D9;
            box-sizing: border-box;
            .imagine-img-wrap{
                width: 100%;
                height: 100%;
                margin-right: 10px;
                img{
                    object-fit: cover;
                    // object-position: top;
                }
            }
        }
    }
    .swiper-pagination-progressbar{
        top: inherit;
        bottom: 0;
    }
}

.contact-wrap{
    margin-top: 59px;
}

.we-animate-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    h3{
    }
    .we-animate-1{
        margin: 15px 0;
        display: flex;
        :first-child{
            // transform: rotate(-30.924deg);
        }
        :nth-child(2){
            // transform: rotate(12.565deg);
        }
        :nth-child(3){
            // transform: rotate(-14.849deg);
        }
        :last-child{
            // transform: rotate(23.129deg);
        }
    }
}

.we-text-cont{
    margin: 35px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .we-text-area{
        font-size: 24px;
    }
}

.email-wrap{
    text-align: center;
    .email-cont{
        margin-bottom: 68px;
        h3{
            font-weight: 400;
            margin-bottom: 11px;
        }
        p{
            font-weight: 600;
        }
    }
}

.thank-cont{
    position: relative;
    ::before{
        content: 'THANKYOU';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #D9D9D9;
        font-family: Noto Sans;
        font-size: 40px;
        font-weight: 700;
        z-index: -1;
    }
}

footer{
    padding: 60px 0 30px 0;
    text-align: center;
}

// media

@media (min-width: 768px) {
    .wrap{
        width: 60%;
    }
    .intro-wrap h2{
        font-size: $fsiz-big;
    }
    .i-am-wrap{
        margin: 200px 0 0;
    }
    .i-am-wrap h2, .title{
        font-size: $fsiz-little-big;
    }
}

@media (min-width: 1440px) {
    html{
        font-size: 18px;
    }
    .wrap{
        width: 1280px;
    }
    section{
        margin-bottom: 200px;
    }
    .btn-original{
        padding: 3px 5px;
    }
    header{
        position: sticky;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 100;
    }
    .intro-wrap{
        h2{
            margin-top: 200px;
        }
    }
    .intro-after-wrap{
        margin-top: 500px;
    }
    .i-am-wrap {
        .i-am-text-2{
            a{
                font-size: $fsiz-nomal;
            }
        }
    }
    .i-am-text-1{
        h2{
            font-size: $fsiz-nomal;
            margin-bottom: 20px;
        }
    }
    .i-can-wrap{
        
        height: 100%;
        margin-bottom: 200px;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        ul{
            box-shadow: none;
        }
        h2{
            font-size: $fsiz-little-big;
            margin-bottom: 30px;
        }
    }
    .i-can-text-cont{
        margin-bottom: 0;
        width: 50%;
        h3{
            font-size: $fsiz-nomal;
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .interactive-section{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        .title-area{
            position: sticky;
            top: 0;
            left: 0;
            max-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .interactive-wrap{
        width: 60%;
        ul{
            li{
                height: 350px;
                .interactive-img-cont{
                    height: 100%;
                }
                .interactive-text-cont{
                    top: 304px;
                }
                .interactive-hover-cont{
                    p{
                        line-height: $lh;
                    }
                }
            }
        }
    }
    .inovative-wrap {
        > ul{
            > li{
                .inovative-hover-cont{
                    .interactive-hover-area{
                        padding: 40px;
                        h4{
                            font-size: $fsiz-nomal;
                        }
                    }
                }
            }
        }
    }   
    .inovative-wrap ul{
        grid-auto-rows: 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 340px);
        gap: 25px 150px;
    }
    .inovative-elm-1{
        grid-column: 1;
        grid-row: 1;
    }
    .inovative-elm-2{
        grid-column: 2;
        grid-row: 2;
    }
    .inovative-elm-3{
        grid-column: 1;
        grid-row: 3;
    }
    .infinite-section {
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    a{
                        .infinite-img-cont{
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
    .imagine-wrap{
        height: 600px;
        overflow: auto;
        ul{
            grid-template-columns: repeat(4, 1fr);
            li{
                width: 280px;
                height: 280px;
                margin: 0;
            }
        } 
    }
    .we-animate-cont{
        font-size: 5em;
    }
    .we-text-cont{
        margin: 100px 0;
    }
    .we-text-cont {
        .we-text-area{
            font-size: $fsiz-little-big;
        }
    }
    .email-wrap{
        margin: 200px 0;
        font-size: $fsiz-nomal;
    }
    .thank-cont{
        margin: 100px 0;
        p{
            &::before{
                font-size: $fsiz-big*2;
            }
        }
    }
}