header {
  position: sticky;
  top: 0;
  left: 0;
  background: $backdrop;
  backdrop-filter: blur(4px);
  z-index: 100;
  nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    @include deviceLarge() {
      width: 80%;
    }
    h1 {
      $random: random(
        $limit: 2,
      );
      a {
        @include fontSize(title);
        font-weight: 800;
        letter-spacing: -1px;
        background-image: linear-gradient($text, $text);
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-text-stroke: 0.5px $text;
        -webkit-background-clip: text;
        color: transparent;
        &:last-child {
          display: none;
        }
      }
      @if ($random == 1) {
        a:last-child {
          display: flex;
        }
        a:first-child {
          display: none;
        }
      }
      &:hover {
        a {
          animation: textFill 2s linear forwards;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 10px 8px;
        font-weight: 500;
      }
    }
  }
}

@keyframes textFill {
  0% {
    background-position: 0 0;
  }
  80% {
    background-position: -200px 0;
  }
}
