.theme input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.theme .switch {
	--width-of-switch: 2em;
	--height-of-switch: 2em;
	--size-of-icon: 1.4em;
	--slider-offset: 0.3em;
	width: var(--width-of-switch);
	height: var(--height-of-switch);
	position: relative;
  display: inline-block;
	cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
  }
}

.theme input:checked + .switch:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
	background-position: left;
	background: none;
}
