.top-area {
  --size: 24px;
  position: fixed;
  display: flex;
  width: var(--size);
  height: var(--size);
  bottom: var(--size);
  right: var(--size);
  z-index: 2;
  @include deviceLarge() {
    --size: 48px;
  }
  #go-top {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  svg {
    width: var(--size);
    height: var(--size);
    path {
      fill: $text;
    }
  }
}
