.infinite {
  &-section {
    margin-top: 30px;
  }
  &-img-cont {
    aspect-ratio: 1;
    background: $main-color;
  }
  &-text {
    margin: 10px 0;
    max-height: 30px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.infinite-swiper {
  --swiper-navigation-size: 20px;
  z-index: 0;
  &-slide {
    a {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    img {
      object-fit: cover;
    }
  }
  &-btn-wrap {
    display: flex;
    gap: clamp(12px, 2vw, 24px);
  }
  &-button-next,
  &-button-prev {
    flex-shrink: 0;
    position: relative;
    right: auto;
    left: auto;
    margin-top: 8px;
    padding: 16px;
    color: $text;
		background: $sub-bg;
  }
  &-button-next::after,
  &-button-prev::after {
    font-size: 20px;
  }
}
