.interactive {
  &-section {
    padding: 68px 0;
    width: 100%;
    > div {
      flex: 1;
    }
    @include deviceLarge() {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      .title-area {
        position: sticky;
        z-index: 2;
        width: auto;
        margin: inherit;
        top: 0;
        left: 0;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        mix-blend-mode: difference;
      }
    }
  }
  &-wrap {
    p {
      text-align: center;
    }

    .btn-wrap {
      margin: 24px 0;
      display: flex;
      justify-content: center;
      a {
        z-index: 3;
      }
    }
  }
  &-lists {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(min(90%, 300px), 1fr));
    @include deviceLarge() {
      padding: 0;
      grid-template-columns: 0.5fr;
      gap: 120px;
    }
  }
  &-list {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1 / 0.7;
    border-radius: $main-br;
    overflow: hidden;
    @include deviceLarge() {
      aspect-ratio: 1 / 1;
    }
    &:hover .interactive-text-cont {
      top: 0;
      border-radius: $main-br;
      backdrop-filter: blur(8px);
    }
    &:hover .interactive-hover-cont {
      visibility: visible;
      opacity: 1;
    }
    &:first-of-type .interactive-img-cont img {
      object-position: center;
    }
    &:last-of-type {
      margin: 0 auto;
    }
    &-link {
      display: none;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      @include deviceLarge() {
        // display: block;
      }
    }
  }
  &-img-cont {
    height: 100%;
    border-radius: $main-br;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: top;
    }
  }
  &-text-cont {
    $backdrop: light-dark(rgba(#ffffff, 0.5), rgba(#1e1e1e, 0.5));
    position: absolute;
    top: calc(100% - 50px);
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.25s ease;
    background: $backdrop;
    p {
      @include fontSize(s);
      padding: 15px 0;
    }
    > p {
      @include fontSize(m);
      font-weight: 700;
    }
  }
  &-hover-cont {
    visibility: hidden;
    opacity: 0;
    p {
      line-height: $lh;
      text-align: start;
      padding: 2px 20px;
      :first-of-type {
        margin-top: 20px;
      }
    }
  }
  &-hover-area {
    padding: 0 clamp(16px, 2vw, 20px);
    @include deviceLarge() {
      padding: clamp(16px, 2vw, 20px);
    }
  }
}

// bg change
@include deviceLarge() {
  .interactive-section {
    transition: background-image 0.5s ease;
    transition-delay: 0.2s;
    &::after {
      position: absolute;
      inset: 0;
      z-index: 0;
      content: "";
      width: 100%;
      height: 100%;
      filter: blur(8px) opacity(0.8);
      background-size: 100%;
    }

    &:has(.interactive-list:nth-child(1).active) {
      &::after {
        background-image: url("../images/interactive/voca1.png");
      }
    }
    &:has(.interactive-list:nth-child(2).active) {
      &::after {
        background-image: url("../images/interactive/inter-2.webp");
      }
    }
    &:has(.interactive-list:nth-child(3).active) {
      &::after {
        background-image: url("../images/interactive/letter.png");
      }
    }
    &:has(.interactive-list:nth-child(4).active) {
      &::after {
        background-image: url("../images/interactive/diva.png");
      }
    }
    &:has(.interactive-list:nth-child(5).active) {
      &::after {
        background-image: url("../images/interactive/kanu.png");
      }
    }
    &:has(.interactive-list:nth-child(6).active) {
      &::after {
        background-image: url("../images/interactive/didi.png");
      }
    }
    &:has(.interactive-list:nth-child(7).active) {
      &::after {
        background-image: url("../images/interactive/lotte.png");
      }
    }
    &:has(.interactive-list:nth-child(8).active) {
      &::after {
        background-image: url("../images/interactive/mong.png");
      }
    }
    &:has(.interactive-list:nth-child(9).active) {
      &::after {
        background-image: url("../images/interactive/build.png");
      }
    }
  }
}
