.interactive-section {
  padding: 68px 0;
	background-color: $main-color;
	width: 100%;
	>div{
		flex: 1;
	}
  @include deviceLarge() {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    .title-area {
      position: sticky;
			width: auto;
			margin: inherit;
      top: 0;
      left: 0;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.interactive-wrap {
  ul {
    display: grid;
    gap: 25px;
    background-color: $main-color;
		grid-template-columns: repeat(auto-fill, minmax(min(90%, 300px), 1fr));
		grid-auto-rows: 250px;
		@include deviceMedium(){
			grid-auto-rows: 300px;
		}
		@include deviceLarge(){
			padding: 0;
			grid-template-columns: 0.5fr;
			grid-auto-rows: 350px;
		}
    li {
      position: relative;
      width: 100%;
      margin: 0 auto;
      background: rgba($color: #ffffff, $alpha: 0.2);

      border-radius: 23px;
      overflow: hidden;
      &:hover .interactive-text-cont {
        top: 0;
        border-radius: 23px;
				backdrop-filter: blur(8px);
      }
      &:hover .interactive-hover-cont {
        visibility: visible;
        opacity: 1;
      }
      &:first-of-type .interactive-img-cont img {
        object-position: center;
      }
      &:last-of-type {
        margin: 0 auto;
      }
      .interactive-img-cont {
        height: 100%;
        border-radius: 23px;
        overflow: hidden;
        img {
          object-fit: cover;
          object-position: top;
        }
      }
      .interactive-text-cont {
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: top 0.25s ease;
        background: #ffffff8a;
				@include deviceMedium(){
					top: 85%;
				}
        p {
          padding: 15px 0;
        }
      }
      p {
        text-align: center;
      }
      .interactive-hover-cont {
        visibility: hidden;
        opacity: 0;
        .interactive-hover-area {
          padding: 20px;
        }
        p {
          text-align: start;
          padding: 2px 20px;
          :first-of-type {
            margin-top: 20px;
          }
        }
      }
      .btn-wrap {
        margin: 12px 0;
        display: flex;
        justify-content: center;
      }
    }
  }
  @include deviceLarge() {
    ul {
      li {
        .interactive-img-cont {
          height: 100%;
        }
        .interactive-text-cont {
          top: 304px;
        }
        .interactive-hover-cont {
          p {
            line-height: $lh;
          }
        }
      }
    }
  }
}
