@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Pretendard-Regular", "noto-Sans";
}

body {
  margin: 0 auto;
}

a {
  color: #202020;
}

img {
  width: 100%;
  height: 100%;
}

picture {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
}

.infinite-img-cont picture {
  display: contents;
}

h2 {
  font-size: 24px;
}

.wrap {
  width: 360px;
  margin: 0 auto;
  height: 100%;
}

.cont {
  width: 90%;
  margin: 0 auto;
}

.btn-original {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background: #D9D9D9;
  border-radius: 8px;
  z-index: 1;
  transition: color 0.26s linear;
}
.btn-original::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #E4EDC1;
  transition: clip-path 0.1s linear;
  clip-path: inset(5% 50% 15% 50%);
  z-index: -1;
}
.btn-original:focus::after, .btn-original:hover::after {
  clip-path: inset(0 0 0 0);
}

.btn-square {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 8px 0;
  color: #fff;
  text-decoration: underline;
  transition: all 0.36s ease;
}
.btn-square:hover {
  color: #E4EDC1;
  text-decoration-color: #E4EDC1;
}

.link-story {
  position: relative;
  font-weight: 600;
}
.link-story::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s ease;
}
.link-story:hover::before {
  width: 100%;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
  text-transform: capitalize;
}

.title-area {
  margin-bottom: 32px;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
header nav h1 a {
  height: 30px;
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 8px;
}

.intro-wrap {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-family: "IBMPlexSansKR-Regular";
}
.intro-wrap .intro-cont {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.intro-wrap h2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: end;
  font-size: 24px;
}
.i-am-wrap {
  text-align: center;
  line-height: 1.5;
}
.i-am-wrap h2 {
  margin-top: 57px;
}
.i-am-wrap .i-am-photo-cont {
  width: 200px;
  margin: 24px auto;
  background: #E4EDC1;
}
.i-am-wrap .i-am-text-1 {
  margin-bottom: 15px;
}
.i-am-wrap .i-am-text-1 h3 {
  line-height: 1.5;
  font-weight: 400;
}
.i-am-wrap .i-am-text-2 a {
  background: #E4EDC1;
  position: relative;
  font-weight: 600;
}
.i-am-wrap .i-am-text-2 a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s ease;
}
.i-am-wrap .i-am-text-2 a:hover::before {
  width: 100%;
}

.i-can-wrap {
  height: 100%;
  margin: 60px 0;
  padding: 30px 0 0;
  border-radius: 36px;
  background: #E4EDC1;
  box-sizing: border-box;
}
.i-can-wrap h2 {
  font-size: 24px;
  margin-bottom: 30px;
  padding: 0 30px;
}

.i-can-text-cont {
  margin-bottom: 0;
}
.i-can-text-cont ul {
  padding: 20px;
  background: rgba(255, 255, 255, 0.4509803922);
  border-radius: 36px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
}
.i-can-text-cont h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.i-can-text-cont p {
  font-size: 14px;
  margin-bottom: 20px;
}

.interactive-section {
  margin-top: 68px;
}
.interactive-wrap ul {
  display: grid;
  gap: 25px;
  padding: 25px 0;
  background-color: #E4EDC1;
  border-radius: 36px;
}
.interactive-wrap ul li {
  position: relative;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  background: #fff;
  border-radius: 23px;
  overflow: hidden;
}
.interactive-wrap ul li:hover .interactive-text-cont {
  top: 0;
  border-radius: 23px;
  background: #fff;
}
.interactive-wrap ul li:hover .interactive-hover-cont {
  visibility: visible;
  opacity: 1;
}
.interactive-wrap ul li:first-of-type .interactive-img-cont img {
  object-position: center;
}
.interactive-wrap ul li:last-of-type {
  margin: 0 auto;
}
.interactive-wrap ul li .interactive-img-cont {
  height: 100%;
  border-radius: 23px;
  overflow: hidden;
}
.interactive-wrap ul li .interactive-img-cont img {
  object-fit: cover;
  object-position: top;
}
.interactive-wrap ul li .interactive-text-cont {
  position: absolute;
  top: 153px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.25s ease;
  background: rgba(255, 255, 255, 0.5411764706);
}
.interactive-wrap ul li .interactive-text-cont p {
  padding: 15px 0;
}
.interactive-wrap ul li p {
  text-align: center;
}
.interactive-wrap ul li .interactive-hover-cont {
  visibility: hidden;
  opacity: 0;
}
.interactive-wrap ul li .interactive-hover-cont .interactive-hover-area {
  padding: 20px;
}
.interactive-wrap ul li .interactive-hover-cont p {
  text-align: start;
  padding: 2px 20px;
}
.interactive-wrap ul li .interactive-hover-cont p :first-of-type {
  margin-top: 20px;
}
.interactive-wrap ul li .btn-wrap {
  margin: 12px 0;
  display: flex;
  justify-content: center;
}

.inovative-section {
  margin-top: 29px;
}

.inovative-wrap > ul {
  display: grid;
  gap: 36px;
  grid-template-rows: repeat(3, 250px);
}
.inovative-wrap > ul > li {
  position: relative;
  background: #E4EDC1;
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.inovative-wrap > ul > li:hover .inovative-hover-cont {
  visibility: visible;
  opacity: 1;
}
.inovative-wrap > ul > li:hover .inovative-img-cont {
  filter: blur(5px);
}
.inovative-wrap > ul > li .inovative-img-cont {
  height: 100%;
  border-radius: 23px;
  overflow: hidden;
}
.inovative-wrap > ul > li .inovative-img-cont img {
  object-fit: cover;
  object-position: top;
}
.inovative-wrap > ul > li p {
  text-align: center;
}
.inovative-wrap > ul > li .inovative-hover-cont {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 23, 88, 0.62);
  border-radius: 23px;
  transition: 0.36s ease;
  color: #fff;
}
.inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area {
  padding: 20px;
}
.inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area .link-story::before {
  background: #fff;
}
.inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area .inovative-link-area {
  margin-bottom: 10px;
}
.inovative-wrap > ul > li .inovative-hover-cont h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.inovative-wrap > ul > li .inovative-hover-cont p {
  text-align: start;
  padding: 2px 0;
}
.inovative-wrap > ul > li .inovative-hover-cont p :first-of-type {
  margin-top: 20px;
}
.inovative-wrap > ul > li .inovative-hover-cont p a {
  font-weight: bold;
  color: #fff;
}
.inovative-wrap > ul > li .btn-wrap {
  display: flex;
  justify-content: space-around;
  margin: 25px 0 0;
  padding: 0;
}

.infinite-section {
  margin-top: 30px;
}
.infinite-section .swiper {
  z-index: 0;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-img-cont {
  height: 150px;
  background: #E4EDC1;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-img-cont img {
  object-fit: cover;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-text {
  margin: 10px 0;
  max-height: 30px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infinite-section .swiper .swiper-btn-wrap {
  display: flex;
  margin-top: 8px;
}
.infinite-section .swiper .infinite-swiper-button-next,
.infinite-section .swiper .infinite-swiper-button-prev {
  position: relative;
  right: auto;
  left: auto;
  height: auto;
  margin-top: 0;
  color: #000;
}
.infinite-section .swiper .infinite-swiper-button-next::after,
.infinite-section .swiper .infinite-swiper-button-prev::after {
  width: 20px;
  height: 20px;
  background-image: url(../assets/images/swiper-polygon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}
.infinite-section .swiper .infinite-swiper-button-next::after {
  transform: rotateY(180deg);
}

.imagine-section {
  margin-top: 30px;
}

.imagine-wrap {
  margin-left: auto;
  margin-right: auto;
}
.imagine-wrap .imagine-cont {
  flex-direction: row;
}
.imagine-wrap ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}
.imagine-wrap ul li {
  min-width: 100%;
  height: 100px;
  background: #E4EDC1;
  margin: 0 0.8771929825%;
  z-index: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.imagine-wrap ul li .imagine-img-wrap {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.imagine-wrap ul li .imagine-img-wrap img {
  object-fit: cover;
}
.imagine-wrap .swiper-pagination-progressbar {
  top: inherit;
  bottom: 0;
}

.lightbox-overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 31, 33, 0.95);
  transition: opacity 0.3s ease-in;
  z-index: 999;
}
.lightbox-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
.lightbox-overlay #lightbox-image {
  object-fit: contain;
}

#image {
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  text-indent: -9999px;
}

.hidden {
  overflow: hidden;
  touch-action: none;
}

.contact-wrap {
  position: relative;
  margin-top: 59px;
}

.we-animate-area {
  position: absolute;
}

.we-animate-cont {
  position: relative;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.we-animate-cont .we-animate-1 {
  margin: 15px 0;
  display: flex;
}
.we-text-cont {
  margin: 35px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.we-text-cont .we-text-area {
  font-size: 24px;
  text-align: center;
}

.email-wrap {
  text-align: center;
}
.email-wrap .email-cont {
  margin-bottom: 68px;
}
.email-wrap .email-cont h3 {
  font-weight: 400;
  margin-bottom: 11px;
}
.email-wrap .email-cont p {
  font-weight: 600;
}
.email-wrap .email-cont p address {
  cursor: pointer;
}

#alert {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 10%;
  left: 0;
}
#alert > div {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: max-content;
  padding: 10px;
  margin: 0 auto;
  background: #E4EDC1;
  border-radius: 20px;
}
#alert.active > div {
  animation: fadeUp 2.6s ease-in-out forwards;
}

@keyframes fadeUp {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
  }
}
.thank-cont {
  position: relative;
}
.thank-cont ::before {
  content: "THANKYOU";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d9d9d9;
  font-family: Noto Sans;
  font-size: 40px;
  font-weight: 700;
  z-index: -1;
}

footer {
  padding: 60px 0 30px 0;
  text-align: center;
}

.top-area {
  position: fixed;
  display: flex;
  width: 48px;
  height: 48px;
  bottom: 48px;
  right: 48px;
}
.top-area #go-top {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.top-area #go-top.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .wrap {
    width: 60%;
  }
  .intro-wrap h2 {
    font-size: 48px;
  }
  .i-am-wrap {
    margin: 200px 0 0;
  }
  .i-am-wrap h2,
  .title {
    font-size: 38px;
  }
  .imagine-wrap ul li {
    height: 150px;
  }
  #alert {
    display: block;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  .wrap {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
  section {
    width: 1280px;
    margin: 0 auto 200px;
  }
  .btn-original {
    padding: 3px 5px;
  }
  header {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
  }
  header nav {
    width: 80%;
    margin: 0 auto;
  }
  .intro-wrap h2 {
    margin-top: 200px;
  }
  .intro-wrap .intro-cont {
    width: 80%;
  }
  .intro-after-wrap {
    margin-top: 500px;
  }
  .i-am-wrap .i-am-text-2 a {
    font-size: 20px;
  }
  .i-am-text-1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .i-can-wrap {
    height: 100%;
    margin-bottom: 200px;
    padding: 30px 0;
    border-radius: 0;
  }
  .i-can-wrap ul {
    padding: 50px 30px;
    box-shadow: none;
  }
  .i-can-wrap h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .i-can-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .i-can-text-cont {
    margin: 0;
    width: 40%;
  }
  .i-can-text-cont h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .i-can-text-cont p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .interactive-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .interactive-section .title-area {
    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .interactive-wrap {
    width: 50%;
  }
  .interactive-wrap ul li {
    height: 350px;
  }
  .interactive-wrap ul li .interactive-img-cont {
    height: 100%;
  }
  .interactive-wrap ul li .interactive-text-cont {
    top: 304px;
  }
  .interactive-wrap ul li .interactive-hover-cont p {
    line-height: 1.5;
  }
  .inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area {
    padding: 40px;
  }
  .inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area h4 {
    font-size: 20px;
  }
  .inovative-wrap ul {
    grid-auto-rows: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 340px);
    gap: 25px 150px;
  }
  .inovative-elm-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .inovative-elm-2 {
    grid-column: 2;
    grid-row: 2;
  }
  .inovative-elm-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-img-cont {
    height: 300px;
  }
  .imagine-wrap ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .imagine-wrap ul li {
    width: 100%;
    height: 280px;
    margin: 0;
  }
  .we-animate-cont {
    font-size: 5em;
  }
  .we-text-cont {
    margin: 100px 0;
  }
  .we-text-cont .we-text-area {
    font-size: 38px;
  }
  .email-wrap {
    margin: 120px 0 200px;
    font-size: 20px;
  }
  .thank-cont {
    margin: 100px 0;
  }
  .thank-cont p::before {
    font-size: 96px;
  }
  .top-area #go-top {
    display: block;
  }
}