@charset "UTF-8";
.btn-original {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  background: #d9d9d9;
  border-radius: 8px;
  z-index: 1;
  transition: color 0.26s linear;
}
.btn-original::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: orange;
  transition: clip-path 0.1s linear;
  clip-path: inset(5% 50% 15% 50%);
  z-index: -1;
}
.btn-original:focus::after, .btn-original:hover::after {
  clip-path: inset(0 0 0 0);
}

.btn-square {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 8px 0;
  color: #fff;
  text-decoration: underline;
  transition: all 0.36s ease;
}
.btn-square:hover {
  color: #e4edc1;
  text-decoration-color: #e4edc1;
}

.link-story {
  position: relative;
  font-weight: 600;
}
.link-story::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s ease;
}
.link-story:hover::before {
  width: 100%;
}

.title-area {
  margin-bottom: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: var(--black0);
}
*::-webkit-scrollbar-track {
  background: var(--black0);
}
*::-webkit-scrollbar-thumb {
  background: var(--black100);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--black200);
}
@media screen and (min-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
*::selection {
  color: var(--primary-color);
  background-color: var(--black0);
}

@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #ddd white;
  }
}
html {
  width: 100%;
  height: auto;
}

a {
  color: #202020;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

picture {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
}

.infinite-img-cont picture {
  display: contents;
}

h2 {
  font-size: 24px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.cont {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  margin: 0 auto;
}
.cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 23%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  z-index: 1;
  height: 50px;
  top: -50px;
  backdrop-filter: blur(4px);
}

.hidden {
  overflow: hidden;
  touch-action: none;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; /* 영어 대문자, 소문자, 숫자 */
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 1rem;
}

body {
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-family: "Pretendard-Regular", "noto-Sans", sans-serif;
}

.title {
  font-size: clamp(1.5rem, 2vw, 2.375rem);
  margin-bottom: 15px;
  text-transform: capitalize;
}

.title-area {
  padding: 0 5%;
}
@media screen and (min-width: 1440px) {
  .title-area {
    padding: 0;
  }
}
.title-area + div {
  padding: 0 5%;
}
@media screen and (min-width: 1440px) {
  .title-area + div {
    padding: 0;
  }
}

.scroll {
  opacity: 0;
  transition: opacity, transform 0.5s ease;
  transition-delay: 200ms;
}
.scroll.fade-up {
  transform: translate3d(0, 100px, 0);
}
.scroll.active {
  opacity: 1;
  transform: none;
}

@media (min-width: 1440px) {
  section {
    width: 1280px;
    margin: 0 auto 200px;
  }
  .btn-original {
    padding: 3px 5px;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  z-index: 100;
}
header nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
@media screen and (min-width: 1440px) {
  header nav {
    width: 80%;
  }
}
header nav h1 {
  height: 24px;
}
header nav h1 a img {
  height: 24px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 8px;
}

footer {
  padding: 60px 0 30px 0;
  text-align: center;
}

.top-area {
  position: fixed;
  display: flex;
  width: 48px;
  height: 48px;
  bottom: 48px;
  right: 48px;
}
.top-area #go-top {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
@media screen and (min-width: 1440px) {
  .top-area #go-top {
    display: block;
  }
}
.top-area #go-top.active {
  opacity: 1;
  visibility: visible;
}

.i-am-wrap {
  text-align: center;
  line-height: 1.5;
}
.i-am-wrap h2 {
  margin-top: 48px;
}
@media screen and (min-width: 1440px) {
  .i-am-wrap {
    padding: 200px 0 0;
  }
}
.i-am-photo-cont {
  width: 200px;
  margin: 24px auto;
  background: orange;
}
.i-am-text-1 {
  margin-bottom: 15px;
}
@media screen and (min-width: 1440px) {
  .i-am-text-1 h2 {
    margin-bottom: 20px;
  }
}
.i-am-text-1 h3 {
  line-height: 1.5;
  font-weight: 400;
}
.i-am-text-2 a {
  background: orange;
  position: relative;
  font-weight: 600;
}
.i-am-text-2 a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s ease;
}
.i-am-text-2 a:hover::before {
  width: 100%;
}

.i-can-wrap {
  height: 100%;
  margin: 60px 0;
  padding: 30px 0;
  background: orange;
  box-sizing: border-box;
  overflow: hidden;
}
.i-can-wrap h2 {
  position: relative;
  text-align: center;
  font-size: 24px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
}
.i-can-wrap h2 span:first-child,
.i-can-wrap h2 span:last-child {
  position: absolute;
}
.i-can-wrap h2 span:first-child {
  color: white;
}
.i-can-wrap-cont {
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .i-can-wrap {
    margin-bottom: 200px;
    padding: 30px 0;
    border-radius: 0;
  }
  .i-can-wrap ul {
    padding: 50px 30px;
    box-shadow: none;
  }
  .i-can-wrap h2 {
    font-size: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .i-can-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.i-can-text-cont {
  margin-bottom: 0;
}
.i-can-text-cont ul {
  padding: 20px;
  background: rgba(255, 255, 255, 0.4509803922);
  border-radius: 36px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
}
.i-can-text-cont h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.i-can-text-cont p {
  font-size: 14px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .i-can-text-cont {
    margin: 0;
    width: 40%;
  }
  .i-can-text-cont h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .i-can-text-cont p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.intro-wrap {
  position: relative;
  min-height: 50dvh;
  max-height: 700px;
  display: flex;
  justify-content: center;
  font-family: "IBMPlexSansKR-Regular", "Pretendard-Regular";
  overflow: hidden;
}
.intro-wrap svg {
  display: none;
}
.intro-wrap .wobble-text {
  display: flex;
  transition: filter 0.2s ease;
  font-size: clamp(19vh, 10em, 20vw + 1rem);
  text-align: center;
  color: orange;
}
.intro-wrap .wobble-text span:first-child {
  text-shadow: 0 0 1px black;
  color: greenyellow;
}
@media screen and (min-width: 1000px) {
  .intro-wrap .wobble-text {
    font-size: clamp(20vw, 20em, 20vw + 1rem);
  }
}
@media screen and (min-width: 1440px) {
  .intro-wrap .wobble-text {
    font-size: 50vh;
  }
}
.intro-cont {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .intro-after-wrap {
    margin-top: 100px;
  }
}

.intro-wrap.active p {
  animation: intro 1.3s linear forwards;
}

@keyframes intro {
  0% {
    letter-spacing: 2vw;
  }
  25% {
    letter-spacing: -20vw;
  }
}
@media screen and (min-width: 1440px) {
  .wobble-wrap:not(:first-of-type) {
    display: none;
  }
}

.interactive-section {
  padding: 68px 0;
  background-color: orange;
  width: 100%;
}
.interactive-section > div {
  flex: 1;
}
@media screen and (min-width: 1440px) {
  .interactive-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }
  .interactive-section .title-area {
    position: sticky;
    width: auto;
    margin: inherit;
    top: 0;
    left: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.interactive-wrap ul {
  display: grid;
  gap: 25px;
  background-color: orange;
  grid-template-columns: repeat(auto-fill, minmax(min(90%, 300px), 1fr));
  grid-auto-rows: 250px;
}
@media screen and (min-width: 1000px) {
  .interactive-wrap ul {
    grid-auto-rows: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .interactive-wrap ul {
    padding: 0;
    grid-template-columns: 0.5fr;
    grid-auto-rows: 350px;
  }
}
.interactive-wrap ul li {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  overflow: hidden;
}
.interactive-wrap ul li:hover .interactive-text-cont {
  top: 0;
  border-radius: 23px;
  backdrop-filter: blur(8px);
}
.interactive-wrap ul li:hover .interactive-hover-cont {
  visibility: visible;
  opacity: 1;
}
.interactive-wrap ul li:first-of-type .interactive-img-cont img {
  object-position: center;
}
.interactive-wrap ul li:last-of-type {
  margin: 0 auto;
}
.interactive-wrap ul li .interactive-img-cont {
  height: 100%;
  border-radius: 23px;
  overflow: hidden;
}
.interactive-wrap ul li .interactive-img-cont img {
  object-fit: cover;
  object-position: top;
}
.interactive-wrap ul li .interactive-text-cont {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.25s ease;
  background: rgba(255, 255, 255, 0.5411764706);
}
@media screen and (min-width: 1000px) {
  .interactive-wrap ul li .interactive-text-cont {
    top: 85%;
  }
}
.interactive-wrap ul li .interactive-text-cont p {
  padding: 15px 0;
}
.interactive-wrap ul li p {
  text-align: center;
}
.interactive-wrap ul li .interactive-hover-cont {
  visibility: hidden;
  opacity: 0;
}
.interactive-wrap ul li .interactive-hover-cont .interactive-hover-area {
  padding: 20px;
}
.interactive-wrap ul li .interactive-hover-cont p {
  text-align: start;
  padding: 2px 20px;
}
.interactive-wrap ul li .interactive-hover-cont p :first-of-type {
  margin-top: 20px;
}
.interactive-wrap ul li .btn-wrap {
  margin: 12px 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .interactive-wrap ul li .interactive-img-cont {
    height: 100%;
  }
  .interactive-wrap ul li .interactive-text-cont {
    top: 304px;
  }
  .interactive-wrap ul li .interactive-hover-cont p {
    line-height: 1.5;
  }
}

.inovative-section {
  margin-top: 29px;
}

.inovative-wrap > ul {
  display: grid;
  gap: 36px;
  grid-template-rows: repeat(3, 250px);
  grid-auto-rows: 250px;
  perspective: 1000px;
}
.inovative-wrap > ul > li {
  position: relative;
  background: orange;
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform-style: preserve-3d;
}
.inovative-wrap > ul > li:hover .inovative-hover-cont {
  visibility: visible;
  opacity: 1;
}
.inovative-wrap > ul > li:hover .inovative-img-cont {
  filter: blur(5px);
}
.inovative-wrap > ul > li .inovative-img-cont {
  height: 100%;
  border-radius: 23px;
  overflow: hidden;
}
.inovative-wrap > ul > li .inovative-img-cont img {
  object-fit: cover;
  object-position: top;
}
.inovative-wrap > ul > li p {
  text-align: center;
}
.inovative-wrap > ul > li .inovative-hover-cont {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 23, 88, 0.62);
  border-radius: 23px;
  transition: 0.36s ease;
  color: #fff;
}
.inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area {
  padding: 20px;
}
.inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area .link-story::before {
  background: #fff;
}
.inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area .inovative-link-area {
  margin-bottom: 10px;
}
.inovative-wrap > ul > li .inovative-hover-cont h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.inovative-wrap > ul > li .inovative-hover-cont p {
  text-align: start;
  padding: 2px 0;
}
.inovative-wrap > ul > li .inovative-hover-cont p :first-of-type {
  margin-top: 20px;
}
.inovative-wrap > ul > li .inovative-hover-cont p a {
  font-weight: bold;
  color: #fff;
}
.inovative-wrap > ul > li .btn-wrap {
  display: flex;
  justify-content: space-around;
  margin: 25px 0 0;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  .inovative-wrap > ul {
    grid-auto-rows: 340px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 340px);
    gap: 25px 150px;
  }
  .inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area {
    padding: 40px;
  }
  .inovative-wrap > ul > li .inovative-hover-cont .interactive-hover-area h4 {
    font-size: 20px;
  }
  .inovative-wrap li {
    transition: transform 0.4s ease;
  }
  .inovative-wrap li.active:nth-child(odd) {
    transform: rotateY(14deg) translateZ(-100px) !important;
  }
  .inovative-wrap li.active:nth-child(even) {
    transform: rotateY(-14deg) translateZ(-100px) !important;
  }
  .inovative-wrap .inovative-elm-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .inovative-wrap .inovative-elm-2 {
    grid-column: 2;
    grid-row: 2;
  }
  .inovative-wrap .inovative-elm-3 {
    grid-column: 1;
    grid-row: 3;
  }
  .inovative-wrap .inovative-elm-4 {
    grid-column: 2;
    grid-row: 4;
  }
  .inovative-wrap .inovative-elm-5 {
    grid-column: 1;
    grid-row: 5;
  }
  .inovative-wrap .inovative-elm-6 {
    grid-column: 2;
    grid-row: 6;
  }
}

.infinite-section {
  margin-top: 30px;
}
.infinite-section .swiper {
  z-index: 0;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-img-cont {
  height: 150px;
  background: orange;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-img-cont img {
  object-fit: cover;
}
.infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-text {
  margin: 10px 0;
  max-height: 30px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infinite-section .swiper .swiper-btn-wrap {
  display: flex;
  margin-top: 8px;
}
.infinite-section .swiper .infinite-swiper-button-next,
.infinite-section .swiper .infinite-swiper-button-prev {
  position: relative;
  right: auto;
  left: auto;
  height: auto;
  margin-top: 0;
  color: #000;
}
.infinite-section .swiper .infinite-swiper-button-next::after,
.infinite-section .swiper .infinite-swiper-button-prev::after {
  width: 20px;
  height: 20px;
  background-image: url("../images/swiper-polygon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}
.infinite-section .swiper .infinite-swiper-button-next::after {
  transform: rotateY(180deg);
}
@media screen and (min-width: 1440px) {
  .infinite-section .swiper .swiper-wrapper .swiper-slide a .infinite-img-cont {
    height: 300px;
  }
}

.imagine-section {
  margin-top: 30px;
}
.imagine-wrap {
  margin-left: auto;
  margin-right: auto;
}
.imagine-cont {
  flex-direction: row;
}
.imagine-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}
@media screen and (min-width: 1440px) {
  .imagine-lists {
    grid-template-columns: repeat(4, 1fr);
  }
}
.imagine-list {
  min-width: 100%;
  height: 100px;
  background: orange;
  margin: 0 0.8771929825%;
  z-index: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.imagine-list:hover .imagine-thumb {
  display: none;
}
@media screen and (min-width: 1000px) {
  .imagine-list {
    height: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .imagine-list {
    height: 250px;
  }
}
.imagine-thumb {
  position: absolute;
  z-index: 1;
}
.imagine-img-wrap {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.imagine-img-wrap picture {
  position: relative;
  z-index: 1;
  opacity: 0;
}
.imagine-img-wrap img {
  object-fit: cover;
}
.imagine-frame {
  width: calc(200% + 4px);
  height: calc(200% + 4px);
  border: 0;
  position: absolute;
  inset: -2px;
  background: white;
  transform: scale(0.5);
  transform-origin: top left;
  transition: opacity 0.4s linear 0.1s;
  overflow: hidden;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  min-height: 80dvh;
  height: 100%;
}

.lightbox-overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 31, 33, 0.95);
  transition: opacity 0.3s ease-in;
  z-index: 999;
}
.lightbox-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
.lightbox-overlay #lightbox-image {
  object-fit: contain;
}

#image {
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  text-indent: -9999px;
}

.we-animate-area {
  position: absolute;
}

.we-animate-cont {
  position: relative;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
@media screen and (min-width: 1440px) {
  .we-animate-cont {
    font-size: 5em;
  }
}
.we-animate-cont .we-animate-1 {
  margin: 15px 0;
  display: flex;
}
.we-text-cont {
  margin: 35px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .we-text-cont {
    margin: 100px 0;
  }
  .we-text-cont .we-text-area {
    font-size: 38px;
  }
}
.we-text-cont .we-text-area {
  font-size: 24px;
  text-align: center;
}

.email-wrap {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .email-wrap {
    margin: 120px 0 200px;
    font-size: 20px;
  }
}
.email-wrap .email-cont {
  margin-bottom: 68px;
}
.email-wrap .email-cont h3 {
  font-weight: 400;
  margin-bottom: 11px;
}
.email-wrap .email-cont p {
  font-weight: 600;
}
.email-wrap .email-cont p address {
  cursor: pointer;
}

#alert {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 10%;
  left: 0;
}
#alert > div {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: max-content;
  padding: 10px;
  margin: 0 auto;
  background: orange;
  border-radius: 20px;
}
#alert.active > div {
  animation: fadeUp 2.6s ease-in-out forwards;
}
@media screen and (min-width: 768px) {
  #alert {
    display: block;
  }
}

@keyframes fadeUp {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
  }
}
.thank-cont {
  position: relative;
}
@media screen and (min-width: 1440px) {
  .thank-cont {
    margin: 100px 0;
  }
  .thank-cont p::before {
    font-size: 96px;
  }
}
.thank-cont ::before {
  content: "THANKYOU";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d9d9d9;
  font-family: Noto Sans;
  font-size: 40px;
  font-weight: 700;
  z-index: -1;
}

.contact-wrap {
  position: relative;
  margin-top: 59px;
}