@charset "UTF-8";
@property --deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.link-story {
  position: relative;
  font-weight: 600;
}
.link-story::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s ease;
}
.link-story:hover::before {
  width: 100%;
}

.title-area {
  margin-bottom: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: var(--black0);
}
*::-webkit-scrollbar-track {
  background: var(--black0);
}
*::-webkit-scrollbar-thumb {
  background: var(--black100);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--black200);
}
@media screen and (min-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
*::selection {
  color: var(--primary-color);
  background-color: var(--black0);
}

@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #ddd white;
  }
}
html {
  width: 100%;
  height: auto;
  color-scheme: light dark;
  color: light-dark(#202020, #eaeaea);
}
html[data-color-scheme=light] {
  color-scheme: light;
}
html[data-color-scheme=dark] {
  color-scheme: dark;
}

a {
  color: light-dark(#202020, #eaeaea);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

picture {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
}

.infinite-img-cont picture {
  display: contents;
}

h2 {
  font-size: 24px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background: light-dark(#ffffff, #1E1E1E);
}

.cont {
  position: relative;
  z-index: 1;
  background: light-dark(#ffffff, #1E1E1E);
  width: 100%;
  margin: 0 auto;
}
.cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 23%;
  background-color: light-dark(rgba(255, 255, 255, 0.2), rgba(30, 30, 30, 0.2));
  backdrop-filter: blur(8px);
  z-index: 1;
  height: 50px;
  top: -50px;
  backdrop-filter: blur(4px);
}

.hidden {
  overflow: hidden;
  touch-action: none;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; /* 영어 대문자, 소문자, 숫자 */
}
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}
html {
  font-size: 1rem;
}

body {
  line-height: 1;
  letter-spacing: -0.04em;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-family: "Pretendard Variable", "noto-Sans", sans-serif;
}

.btn-original {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 45px;
  z-index: 1;
  font-family: inherit;
  color: light-dark(#202020, #eaeaea);
  font-weight: 500;
  border: 2px solid transparent;
  background: linear-gradient(light-dark(#ffffff, #1E1E1E) 0 0) padding-box, linear-gradient(var(--deg), light-dark(#ffa500, #ff8c00), light-dark(#ffffff, #1E1E1E)) border-box;
  border-radius: 0;
  transition: color 0.26s ease-in-out;
}
.btn-original::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: light-dark(#ffa500, #ff8c00);
  transition: clip-path 0.26s ease-in-out;
  clip-path: inset(0 50% 0 50%);
  z-index: -1;
}
.btn-original:focus, .btn-original:hover {
  animation: grad 0.5s linear forwards, bg 0.1s 0.5s linear forwards;
}
.btn-original:focus::after, .btn-original:hover::after {
  clip-path: inset(0 0 0 0);
}
@keyframes grad {
  100% {
    --deg: 360deg;
  }
}
@keyframes bg {
  100% {
    background: transparent;
    border: 0px transparent;
  }
}

.btn-square {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 8px 0;
  color: #fff;
  text-decoration: underline;
  transition: all 0.36s ease;
}
.btn-square:hover {
  color: #e4edc1;
  text-decoration-color: #e4edc1;
}

.title {
  line-height: 1;
  letter-spacing: -0.04em;
  font-size: clamp(1.5rem, 2vw, 2.375rem);
  margin-bottom: clamp(8px, 1vw + 0.25rem, 16px);
  text-transform: capitalize;
}

.title-area {
  padding: 0 5%;
}
@media screen and (min-width: 1440px) {
  .title-area {
    padding: 0;
  }
}
.title-area + div {
  padding: 0 5%;
}
@media screen and (min-width: 1440px) {
  .title-area + div {
    padding: 0;
  }
}

.scroll {
  opacity: 0;
  transition: opacity, transform 0.5s ease;
  transition-delay: 200ms;
}
.scroll.fade-up {
  transform: translate3d(0, 100px, 0);
}
.scroll.active {
  opacity: 1;
  transform: none;
}

@media (min-width: 1440px) {
  section {
    width: 1280px;
    margin: 0 auto 200px;
  }
  .btn-original {
    padding: 3px 5px;
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  background: light-dark(rgba(255, 255, 255, 0.2), rgba(30, 30, 30, 0.2));
  backdrop-filter: blur(4px);
  z-index: 100;
}
header nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}
@media screen and (min-width: 1440px) {
  header nav {
    width: 80%;
  }
}
header nav h1 a {
  line-height: 1;
  letter-spacing: -0.04em;
  font-size: clamp(1.5rem, 2vw, 2.375rem);
  font-weight: 800;
  letter-spacing: -1px;
  background-image: linear-gradient(light-dark(#202020, #eaeaea), light-dark(#202020, #eaeaea));
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-text-stroke: 0.5px light-dark(#202020, #eaeaea);
  -webkit-background-clip: text;
  color: transparent;
}
header nav h1 a:last-child {
  display: none;
}
header nav h1:hover a {
  animation: textFill 2s linear forwards;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  padding: 10px 8px;
  font-weight: 500;
}

@keyframes textFill {
  0% {
    background-position: 0 0;
  }
  80% {
    background-position: -200px 0;
  }
}
.theme input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.theme .switch {
  --width-of-switch: 2em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.theme .switch::before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

.theme input:checked + .switch:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  background-position: left;
  background: none;
}

footer {
  padding: 60px 0 30px 0;
  text-align: center;
}

.top-area {
  --size: 24px;
  position: fixed;
  display: flex;
  width: var(--size);
  height: var(--size);
  bottom: var(--size);
  right: var(--size);
  z-index: 2;
}
@media screen and (min-width: 1440px) {
  .top-area {
    --size: 48px;
  }
}
.top-area #go-top {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.top-area #go-top.active {
  opacity: 1;
  visibility: visible;
}
.top-area svg {
  width: var(--size);
  height: var(--size);
}
.top-area svg path {
  fill: light-dark(#202020, #eaeaea);
}

.i-am-wrap {
  text-align: center;
  line-height: 1.5;
}
.i-am-wrap h2 {
  margin-top: 48px;
}
@media screen and (min-width: 1440px) {
  .i-am-wrap {
    padding: 200px 0 0;
  }
}
.i-am-photo-cont {
  width: 200px;
  margin: 24px auto;
  background: #ffa500;
}
.i-am-text-1 {
  margin-bottom: 15px;
}
@media screen and (min-width: 1440px) {
  .i-am-text-1 h2 {
    margin-bottom: 20px;
  }
}
.i-am-text-1 h3 {
  line-height: 1.5;
  font-weight: 400;
}
.i-am-text-2 a {
  background: #ffa500;
  position: relative;
  font-weight: 600;
}
.i-am-text-2 a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: #000;
  transition: width 0.3s ease;
}
.i-am-text-2 a:hover::before {
  width: 100%;
}

.i-can-wrap {
  height: 100%;
  margin: 60px 0;
  padding: 30px 0;
  background: light-dark(#ffa500, #ff8c00);
  box-sizing: border-box;
  overflow: hidden;
}
.i-can-wrap h2 {
  position: relative;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.04em;
  font-size: clamp(1.5rem, 2vw, 2.375rem);
  padding: 0 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #f5f5f5;
  transform: translateX(-100px);
}
.i-can-wrap h2 span {
  flex-shrink: 0;
  text-wrap: nowrap;
}
@media screen and (min-width: 1440px) {
  .i-can-wrap {
    margin-bottom: 200px;
    padding: 30px 0;
    border-radius: 0;
  }
  .i-can-wrap ul {
    padding: 50px 30px;
    box-shadow: none;
  }
}
@media screen and (min-width: 1440px) {
  .i-can-cont {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.i-can-text-cont {
  margin-bottom: 0;
}
.i-can-text-cont ul {
  padding: 20px;
  background: rgba(255, 255, 255, 0.4509803922);
  border-radius: 36px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
}
.i-can-text-cont h3 {
  margin-bottom: 15px;
  text-transform: capitalize;
}
.i-can-text-cont p {
  font-size: 14px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .i-can-text-cont {
    margin: 0;
    width: 40%;
  }
  .i-can-text-cont h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .i-can-text-cont p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.intro-wrap {
  position: relative;
  min-height: 50dvh;
  max-height: 700px;
  display: flex;
  justify-content: center;
  font-family: "IBMPlexSansKR-Regular", "Pretendard-Regular";
  overflow: hidden;
}
.intro-wrap svg {
  display: none;
}
.intro-wrap .wobble-text {
  display: flex;
  transition: filter 0.2s ease;
  font-size: clamp(19vh, 10em, 20vw + 1rem);
  text-align: center;
  color: #ffa500;
}
.intro-wrap .wobble-text span:first-child {
  text-shadow: 0 0 1px black;
  color: greenyellow;
}
@media screen and (min-width: 1000px) {
  .intro-wrap .wobble-text {
    font-size: clamp(20vw, 20em, 20vw + 1rem);
  }
}
@media screen and (min-width: 1440px) {
  .intro-wrap .wobble-text {
    font-size: 50vh;
  }
}
.intro-cont {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .intro-after-wrap {
    margin-top: 100px;
  }
}

.intro-wrap.active p {
  animation: intro 1.3s linear forwards;
}

@keyframes intro {
  0% {
    letter-spacing: 2vw;
  }
  25% {
    letter-spacing: -20vw;
  }
}
@media screen and (min-width: 1440px) {
  .wobble-wrap:not(:first-of-type) {
    display: none;
  }
}

.interactive-section {
  padding: 68px 0;
  width: 100%;
}
.interactive-section > div {
  flex: 1;
}
@media screen and (min-width: 1440px) {
  .interactive-section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
  }
  .interactive-section .title-area {
    position: sticky;
    z-index: 2;
    width: auto;
    margin: inherit;
    top: 0;
    left: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    mix-blend-mode: difference;
  }
}
.interactive-wrap p {
  text-align: center;
}
.interactive-wrap .btn-wrap {
  margin: 24px 0;
  display: flex;
  justify-content: center;
}
.interactive-wrap .btn-wrap a {
  z-index: 3;
}
.interactive-lists {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(min(90%, 300px), 1fr));
}
@media screen and (min-width: 1440px) {
  .interactive-lists {
    padding: 0;
    grid-template-columns: 0.5fr;
    gap: 120px;
  }
}
.interactive-list {
  position: relative;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 1/0.6;
  border-radius: 3px;
  overflow: hidden;
}
.interactive-list:hover .interactive-text-cont {
  top: 0;
  border-radius: 3px;
  backdrop-filter: blur(8px);
}
.interactive-list:hover .interactive-hover-cont {
  visibility: visible;
  opacity: 1;
}
.interactive-list:first-of-type .interactive-img-cont img {
  object-position: center;
}
.interactive-list:last-of-type {
  margin: 0 auto;
}
.interactive-list-link {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.interactive-img-cont {
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.interactive-img-cont img {
  object-fit: cover;
  object-position: top;
}
.interactive-text-cont {
  position: absolute;
  top: calc(100% - 50px);
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.25s ease;
  background: light-dark(rgba(255, 255, 255, 0.5), rgba(30, 30, 30, 0.5));
}
.interactive-text-cont p {
  padding: 15px 0;
}
.interactive-text-cont > p {
  font-weight: 700;
}
.interactive-hover-cont {
  visibility: hidden;
  opacity: 0;
}
.interactive-hover-cont .interactive-hover-area {
  padding: 20px;
}
.interactive-hover-cont p {
  line-height: 1.5;
  text-align: start;
  padding: 2px 20px;
}
.interactive-hover-cont p :first-of-type {
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .interactive-section {
    transition: background-image 0.5s ease;
    transition-delay: 0.2s;
  }
  .interactive-section::after {
    position: absolute;
    inset: 0;
    z-index: 0;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(8px) opacity(0.8);
    background-size: 100%;
  }
  .interactive-section:has(.interactive-list:nth-child(1).active)::after {
    background-image: url("../images/interactive/voca1.png");
  }
  .interactive-section:has(.interactive-list:nth-child(2).active)::after {
    background-image: url("../images/interactive/inter-2.webp");
  }
  .interactive-section:has(.interactive-list:nth-child(3).active)::after {
    background-image: url("../images/interactive/letter.png");
  }
  .interactive-section:has(.interactive-list:nth-child(4).active)::after {
    background-image: url("../images/interactive/diva.png");
  }
  .interactive-section:has(.interactive-list:nth-child(5).active)::after {
    background-image: url("../images/interactive/kanu.png");
  }
  .interactive-section:has(.interactive-list:nth-child(6).active)::after {
    background-image: url("../images/interactive/didi.png");
  }
  .interactive-section:has(.interactive-list:nth-child(7).active)::after {
    background-image: url("../images/interactive/lotte.png");
  }
  .interactive-section:has(.interactive-list:nth-child(8).active)::after {
    background-image: url("../images/interactive/mong.png");
  }
  .interactive-section:has(.interactive-list:nth-child(9).active)::after {
    background-image: url("../images/interactive/build.png");
  }
}
.inovative-section {
  margin-top: 30px;
}
.inovative-lists {
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(auto-fit, minmax(min(90%, 300px), 1fr));
  perspective: 1000px;
}
@media screen and (min-width: 1440px) {
  .inovative-lists {
    grid-template-columns: 1fr 1fr;
    gap: 25px 150px;
  }
}
.inovative-list {
  position: relative;
  border-radius: 3px;
  aspect-ratio: 1/0.6;
  transform-style: preserve-3d;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: transform 0.4s ease;
}
.inovative-list:hover .inovative-hover-cont {
  visibility: visible;
  opacity: 1;
}
.inovative-list:hover .inovative-img-cont {
  mask: linear-gradient(black calc(100% - 4vw), transparent);
}
.inovative-list.active:nth-child(odd) {
  transform: rotateY(3deg) translateZ(-10px) !important;
}
.inovative-list.active:nth-child(even) {
  transform: rotateY(-3deg) translateZ(-10px) !important;
}
@media screen and (min-width: 1440px) {
  .inovative-list:nth-child(odd) {
    grid-column: 1;
  }
  .inovative-list:nth-child(even) {
    grid-column: 2;
  }
  .inovative-list:nth-child(1) {
    grid-row: 1;
  }
  .inovative-list:nth-child(2) {
    grid-row: 2;
  }
  .inovative-list:nth-child(3) {
    grid-row: 3;
  }
  .inovative-list:nth-child(4) {
    grid-row: 4;
  }
  .inovative-list:nth-child(5) {
    grid-row: 5;
  }
  .inovative-list:nth-child(6) {
    grid-row: 6;
  }
  .inovative-list:nth-child(7) {
    grid-row: 7;
  }
  .inovative-list:nth-child(8) {
    grid-row: 8;
  }
  .inovative-list:nth-child(9) {
    grid-row: 9;
  }
  .inovative-list:nth-child(10) {
    grid-row: 10;
  }
}
.inovative-img-cont {
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.inovative-img-cont img {
  object-fit: cover;
  object-position: top;
}
.inovative-hover-cont {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: light-dark(rgba(255, 255, 255, 0.8), rgba(30, 30, 30, 0.8));
  backdrop-filter: blur(10px);
  border-radius: 3px;
  transition: 0.36s ease;
}
.inovative-hover-cont h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.inovative-hover-cont p {
  text-align: start;
  padding: 2px 0;
}
.inovative-hover-cont p :first-of-type {
  margin-top: 20px;
}
.inovative-hover-cont p a {
  font-weight: bold;
}
.inovative-hover-area {
  padding: clamp(20px, 2vw, 40px);
}
.inovative-hover-area .inovative-link-area {
  margin-bottom: 10px;
}
.inovative p {
  text-align: center;
}
.inovative .btn-wrap {
  display: flex;
  justify-content: space-around;
  margin: 25px 0 0;
  padding: 0;
}

.infinite-section {
  margin-top: 30px;
}
.infinite-img-cont {
  aspect-ratio: 1;
  background: #ffa500;
}
.infinite-text {
  margin: 10px 0;
  max-height: 30px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infinite-swiper {
  --swiper-navigation-size: 20px;
  z-index: 0;
}
.infinite-swiper-slide a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.infinite-swiper-slide img {
  object-fit: cover;
}
.infinite-swiper-btn-wrap {
  display: flex;
  gap: clamp(12px, 2vw, 24px);
}
.infinite-swiper-button-next, .infinite-swiper-button-prev {
  flex-shrink: 0;
  position: relative;
  right: auto;
  left: auto;
  margin-top: 8px;
  padding: 16px;
  color: light-dark(#202020, #eaeaea);
  background: light-dark(#dddddd, #5f5f5f);
}
.infinite-swiper-button-next::after, .infinite-swiper-button-prev::after {
  font-size: 20px;
}

.imagine-section {
  margin-top: 30px;
}
.imagine-wrap {
  margin-left: auto;
  margin-right: auto;
}
.imagine-cont {
  flex-direction: row;
}
.imagine-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(100px, 10vw, 200px), 1fr));
  justify-items: center;
  gap: 10px;
}
.imagine-list {
  position: relative;
  min-width: 100%;
  aspect-ratio: 1;
  z-index: 0;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid light-dark(#dddddd, #5f5f5f);
}
.imagine-list:hover .imagine-thumb {
  display: none;
}
.imagine-thumb {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  scale: 1.1;
}
.imagine-img-wrap {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.imagine-img-wrap picture {
  position: relative;
  z-index: 1;
  opacity: 0;
}
.imagine-img-wrap img {
  object-fit: cover;
}
.imagine-frame {
  width: calc(200% + 4px);
  height: calc(200% + 4px);
  border: 0;
  position: absolute;
  inset: -2px;
  background: light-dark(#ffffff, #1E1E1E);
  transform: scale(0.5);
  transform-origin: top left;
  transition: opacity 0.4s linear 0.1s;
  overflow: hidden;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  min-height: 80dvh;
  height: 100%;
}

.lightbox-overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 31, 33, 0.95);
  transition: opacity 0.3s ease-in;
  z-index: 999;
}
.lightbox-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}
.lightbox-overlay #lightbox-image {
  object-fit: contain;
}

#image {
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  text-indent: -9999px;
}

.we-animate-area {
  position: absolute;
}

.we-animate-cont {
  position: relative;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
@media screen and (min-width: 1440px) {
  .we-animate-cont {
    font-size: 5em;
  }
}
.we-animate-cont .we-animate-1 {
  margin: 15px 0;
  display: flex;
}

.we-text-cont {
  margin: 35px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .we-text-cont {
    margin: 100px 0;
  }
  .we-text-cont .we-text-area {
    font-size: 38px;
  }
}
.we-text-cont .we-text-area {
  font-size: 24px;
  text-align: center;
}

.we-text span {
  display: inline-flex;
}

.email-wrap {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .email-wrap {
    margin: 120px 0 200px;
    font-size: 20px;
  }
}
.email-wrap .email-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 68px;
}
.email-wrap .email-cont h3 {
  font-weight: 400;
  margin-bottom: 11px;
}
.email-wrap .email-cont p {
  font-weight: 600;
}
.email-wrap .email-cont p address {
  cursor: pointer;
}

#alert {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 10%;
  left: 0;
  z-index: 2;
}
#alert > div {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  width: max-content;
  padding: 10px;
  margin: 0 auto;
  background: rgba(255, 165, 0, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 20px;
}
#alert.active > div {
  animation: fadeUp 2s ease-in-out forwards;
}
@media screen and (min-width: 768px) {
  #alert {
    display: block;
  }
}

@keyframes fadeUp {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
  80% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
  }
}
.thank-cont {
  position: relative;
}
@media screen and (min-width: 1440px) {
  .thank-cont {
    margin: 100px 0;
  }
  .thank-cont p::before {
    font-size: 96px;
  }
}
.thank-cont ::before {
  content: "THANKYOU";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: light-dark(#dddddd, #5f5f5f);
  font-family: Noto Sans;
  font-size: 40px;
  font-weight: 700;
  z-index: -1;
}

.contact-wrap {
  position: relative;
  margin-top: 59px;
}