.i-am {
  &-wrap {
    padding: 200px 0 0;
    text-align: center;
    line-height: $lh;
    h2 {
      margin-top: 48px;
    }
    @include deviceSmall() {
    }
  }
  &-photo-cont {
    width: 200px;
    margin: 24px auto;
    background: $main-color;
    img {
    }
  }
  &-text-1 {
    margin-bottom: 15px;
    h2 {
      @include deviceLarge() {
        margin-bottom: 20px;
      }
    }
    h3 {
      line-height: 1.5;
      font-weight: 400;
    }
  }
  &-text-2 {
    a {
      background: $main-color;
      @include link();
    }
  }
}
