.i-can {
  &-wrap {
    height: 100%;
    margin: 60px 0;
    padding: 30px 0;
    background: $primary;
    box-sizing: border-box;
    overflow: hidden;
    h2 {
      position: relative;
      text-align: center;
      @include fontSize(title);
      padding: 0 30px;
      display: flex;
      justify-content: center;
			gap: 10px;
      color: #f5f5f5;
			transform: translateX(-100px);
      span {
        flex-shrink: 0;
        text-wrap: nowrap;
      }
    }
    @include deviceLarge() {
      margin-bottom: 200px;
      padding: 30px 0;

      border-radius: 0;
      ul {
        padding: 50px 30px;
        box-shadow: none;
      }
    }
  }
  &-cont {
    @include deviceLarge() {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &-text-cont {
    margin-bottom: 0;
    ul {
      padding: 20px;
      background: #ffffff73;
      border-radius: $radious;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
    }
    h3 {
      margin-bottom: 15px;
      text-transform: capitalize;
    }
    p {
      font-size: $main-font-sz;
      margin-bottom: 20px;
    }
    @include deviceLarge() {
      margin: 0;
      width: 40%;
      h3 {
        font-size: $fsiz-nomal;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
