@import "./iam.scss";
@import "./ican.scss";

.intro {
  &-wrap {
    position: relative;
    min-height: 50dvh;
    max-height: 700px;
    display: flex;
    justify-content: center;
    font-family: "IBMPlexSansKR-Regular", "Pretendard-Regular";
    overflow: hidden;
    svg {
      display: none;
    }
    .wobble-text {
      display: flex;
      transition: filter 0.2s ease;
      font-size: clamp(19vh, 10em, 20vw + 1rem);
      text-align: center;
      color: $main-color;
      span:first-child {
        text-shadow: 0 0 1px black;
        color: greenyellow;
      }
      @include deviceMedium() {
        font-size: clamp(20vw, 20em, 20vw + 1rem);
      }
      @include deviceLarge() {
        font-size: clamp(50vh, 20vh, 20vh);
      }
    }
  }
  &-cont {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // &::after {
    //   @include blur() {
    //     bottom: 0;
    //     backdrop-filter: blur(4px);
    //   }
    // }
    @include deviceLarge() {
      // width: 80%;
    }
  }
  &-after-wrap {
    @include deviceLarge() {
      margin-top: 100px;
    }
  }
}
.intro-wrap.active {
  .intro-cont {
    // height: 50dvh;
  }
  p {
    animation: intro 1.3s linear forwards;
  }
}
@keyframes intro {
  0% {
    letter-spacing: 2vw;
  }
  25% {
    letter-spacing: -20vw;
  }
}

.wobble-wrap {
  @include deviceLarge() {
    &:not(:first-of-type) {
      display: none;
    }
  }
}
