@import "./iam.scss";
@import "./ican.scss";

@mixin blur() {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 23%;
    background-color: rgba($color: #ffff, $alpha: 0.1);
    backdrop-filter: blur(8px);
    z-index: 1;
		@content;
  }
}

.intro {
  &-wrap {
    position: relative;
    min-height: 50dvh;
    max-height: 700px;
    display: flex;
    justify-content: center;
    font-family: "IBMPlexSansKR-Regular", "Pretendard-Regular";
		overflow: hidden;
    @include blur() {
			height: 100%;
			backdrop-filter: blur(4px);
		}
		&::after {
			bottom: 0;
			height: 23%;
		}
    svg {
      display: none;
    }
    .wobble-text {
      display: flex;
      font-size: clamp(50vh, 20vh, 20vh);
      transition: filter 0.2s ease;
      text-align: center;
			color: $main-color;
      span:first-child {
        text-shadow: 0 0 1px black;
        color: greenyellow;
      }
    }
  }
  &-cont {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    @include blur() {
      &:before,
      &:after {
        height: 10%;
      }
      &::before {
        top: 35%;
      }
      &::after {
        bottom: 35%;
      }
    }
    @include deviceLarge() {
      // width: 80%;
    }
  }
  &-after-wrap {
    @include deviceLarge() {
      margin-top: 100px;
    }
  }
}
.intro-wrap.active{
	.intro-cont{
		position: fixed;
	}
	p{
		animation: intro 1.3s linear forwards;
	}
}
@keyframes intro {
	0%{
		letter-spacing: 2vw;
	}
	25%{
		letter-spacing: -20vw;
	}
}