@mixin deviceSmall() {
  @media screen and (min-width: $device_small) {
    @content;
  }
}
@mixin deviceMedium() {
  @media screen and (min-width: $device_medium) {
    @content;
  }
}
@mixin deviceLarge() {
  @media screen and (min-width: $device_large) {
    @content;
  }
}

@property --deg {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@mixin btn-original {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 45px;
  z-index: 1;
  font-family: inherit;
  color: $text;
  font-weight: 500;
  border: 2px solid transparent;
  background: linear-gradient($bg 0 0) padding-box,
    linear-gradient(var(--deg), $primary, $bg) border-box;
  border-radius: 0;
  transition: color 0.26s ease-in-out;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: $primary;
    transition: clip-path 0.26s ease-in-out;
    clip-path: inset(0 50% 0 50%);
    z-index: -1;
  }
  &:focus,
  &:hover {
    animation: grad 0.5s linear forwards, bg 0.1s 0.5s linear forwards;
  }
  &:focus::after,
  &:hover::after {
    clip-path: inset(0 0 0 0);
  }
  @keyframes grad {
    100% {
      --deg: 360deg;
    }
  }
  @keyframes bg {
    100% {
      background: transparent;
      border: 0px transparent;
    }
  }
}

@mixin btn-square {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: 8px 0;
  color: #fff;
  text-decoration: underline;
  transition: all 0.36s ease;
  &:hover {
    color: #e4edc1;
    text-decoration-color: #e4edc1;
  }
}

@mixin link {
  position: relative;
  font-weight: 600;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background: #000;
    transition: width 0.3s ease;
  }
  &:hover::before {
    width: 100%;
  }
}

@mixin animation() {
  opacity: 0;
  transition: opacity, transform 0.5s ease;
  transition-delay: 200ms;
  @content;
}

@mixin blur() {
  content: "";
  position: absolute;
  width: 100%;
  height: 23%;
  background-color: $backdrop;
  backdrop-filter: blur(8px);
  z-index: 1;
  @content;
}

@mixin backdrop($blur) {
  $backdrop: light-dark(rgba(#ffffff, $blur), rgba(#1e1e1e, $blur));
  @content;
}

@mixin title {
  margin-bottom: clamp(8px, 1vw + 0.25rem, 16px);
  text-transform: capitalize;
  @content;
}

@mixin title-mgin {
  margin-bottom: 32px;
}

.link-story {
  @include link();
}

.title-area {
  @include title-mgin();
}
