$p100: 100%;
$main-font-sz: 14px;
$fsiz-big: 48px;
$fsiz-little-big: 38px;
$fsiz-nomal: 20px;
$main-color: #e4edc1;
$lh: 1.5;
$radious: 36px;

// device
$device_small: 768px;
$device_medium: 1000px;
$device_large: 1440px;
