.email-wrap {
  text-align: center;
  @include deviceLarge() {
    margin: 120px 0 200px;
    font-size: $fsiz-nomal;
  }
  .email-cont {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
    margin-bottom: 68px;
    h3 {
      font-weight: 400;
      margin-bottom: 11px;
    }
    p {
      font-weight: 600;
      address {
        cursor: pointer;
      }
    }
  }
}

#alert {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 10%;
  left: 0;
	z-index: 2;
  > div {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: max-content;
    padding: 10px;
    margin: 0 auto;
    background: rgba($color: $main-color, $alpha: 0.2);
		backdrop-filter: blur(4px);
    border-radius: 20px;
  }
  &.active > div {
    animation: fadeUp 2s ease-in-out forwards;
  }
  @include deviceSmall() {
    display: block;
  }
}

@keyframes fadeUp {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
  }
  80% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
  }
}
